//number 1 from https://designschool.canva.com/blog/website-color-schemes/
//cool vs warm palette
$fresh: #4ABDAC;
$vermillion: #FC4A1A;
$sunshine: #F7B733;
$clean: #DFDCE3;
$grey: #757575;
$grey-boot: #777;
$brown: #914600;
$alt-green: #2fa18e;

$clean-30: rgba(223, 220, 227, 0.3);
$clean-50: rgba(223, 220, 227, 0.5);
